{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
    <div class="mt-5 pb-2 pt-2 bg-light custom-shadow rounded">
        <h1 class="m-5"><strong>{{ content }}</strong></h1>
        <p class="font-monospace ms-5">Добро пожаловать в цветочный магазин "Flower AI"!</p>
        <p class="font-monospace lh-lg mx-5">У нас вы найдете самые красивые и свежие цветы для любого повода — от романтического свидания до свадьбы или корпоративного мероприятия.</p>
        <p class="font-monospace lh-lg mx-5">Уникальность нашего магазина заключается в том, что мы используем искусственный интеллект для создания наших букетов. Благодаря этому технологическому решению, мы можем предложить вам уникальные и оригинальные композиции, которые сочетают в себе самые красивые цветы и дополнительные элементы.</p>
        <p class="font-monospace lh-lg mx-5">Наши цветочные букеты не только выглядят шикарно, но и долго сохраняют свою свежесть, благодаря высококачественным цветам и профессиональной сборке. Кроме того, вы можете заказать у нас доставку букета прямо к двери получателя, чтобы порадовать своих близких и друзей на любой праздник.</p>
        <p class="font-monospace lh-lg mx-5 mb-5">Посетите наш магазин "Flower AI" и погрузитесь в мир красоты и ароматов цветов, созданных с помощью самых передовых технологий!</p>
    </div>
{% endblock %}

{% block footer %}
    <footer class="py-4 bg-success-subtle">
        <div class="container">
            <p class="m-0 text-center text-success">Покшубина Софья, ВКБР 2024</p>
        </div>
    </footer>
{% endblock %}