{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
    <form class="d-flex flex-row pb-5">
        <div class="col">
            <input type="file" class="form-control mt-4" id="id_image"
                name="image"
                accept="image/*">
        </div>
        <div class="col-3">
            <a class="btn btn-success ms-3 mt-4" href="#">Сгенерировать букет</a>
        </div>
    </form>
    <div class="d-flex justify-content-center">
        <img src="#" alt="" style="width: 500px;">
    </div>
{% endblock %}

{% block footer %}
    <footer class="py-4 bg-success-subtle">
        <div class="container">
            <p class="m-0 text-center text-success">Покшубина Софья, ВКБР 2024</p>
        </div>
    </footer>
{% endblock %}